body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    background-image: linear-gradient(#071952, #088395);
    margin: 0;
    height: 100vh;
    color: #feffff;
}
#container button {
    font-size: 5.5rem;
    padding: 0 30px;
    margin: 0 10px;
    background-color: transparent;
    cursor: pointer;
}

#restart {
    font-size: 1.5rem;
    color: white;
    background-color: #071952;
    padding: 10px;
    border-color: #088395;
    cursor: pointer;
}
#restart:hover {
    background-image: linear-gradient(#071952, #088395);
}
#container button:hover {
    border-color: #071952;
    background-image: linear-gradient(#071952, #088395);
}